button.picked {
    background-color: #04a9ef;
    color: aliceblue;
}

.datepicker{
    z-index:999999 !important; }

.ui-datepicker{
        z-index:999999
    }

/* .form-control.datetpicker-input {position:unset} */

/* .form-control.datetpicker-input {position:unset} */
