.record {
    background: white;
    font: 1rem "Open Sans";
    letter-spacing: 0.01em;
    width: 19cm;
    margin: 0 auto;
    padding: 1cm;
    box-sizing: border-box;
    color: #292B52;
    border: 1px solid #c6c6c6;
}

.record {
    background: white;
    font: 4rem "Open Sans";
    letter-spacing: 0.01em;
    width: 19cm;
    margin: 0 auto;
    padding: 1cm;
    box-sizing: border-box;
    color: #292B52;
    border: 1px solid #c6c6c6;
}

.healthCard {
    border: 1px solid #000000;
    background: #F4F7FD;
    border-radius: 6px;
    padding: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #484848;
}

.item-info {
    padding: 1rem;
}

.info-header {
    display: flex;
    justify-content: space-between;
}