#lib
qrcode
Faker
raven
grpcio-tools
text_unidecode 
firebase-admin
google-api-core==2.7.2
google-api-python-client==2.44.0
google-auth==2.2.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
google-cloud-core==2.0.0
google-cloud-firestore==2.3.4
google-cloud-storage==1.42.3
google-crc32c==1.2.0
google-resumable-media==2.0.3
googleapis-common-protos==1.53.0
pyotp
pyasn1
pycparser
jwcrypto
ecdsa
deprecated
charset-normalizer
cffi
python-jose
jose
paramiko
avro
confluent-kafka
sentry-sdk