<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="action_report_portal" model="ir.actions.act_url">
            <field name="name">Financial Report Portal</field>
            <field name="url">/report-portal</field>
            <field name="target">self</field>
        </record>

        <menuitem
            id="menu_report_portal_root"
            name="Report Portal"
            parent="account.menu_finance"
            sequence="100"/>

        <menuitem
            id="menu_report_portal_main"
            name="Financial Reports"
            parent="menu_report_portal_root"
            action="action_report_portal"
            sequence="1"/>
    </data>
</odoo>
