@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

$bg-color: #DDECF2;
$color-red: #FF6A6A;
$color-green: #00D67E;
$color-yellow: #DBAE18;
$color-text: #666666;
$color-text-light: #E7E9EA;
$color-primary: #00A09D;
$color-tabs-bg: #EFF4F3;
$color-eval-bg: #F2F8F7;

//change width of symptioms and others
.td-symptom, .td-others {
  width: 40% !important;
}

.o_field_widget.td-symptom, .o_field_widget.td-others {
  width: 100% !important;
}

.evaluation_header {
  .oe_title {
    padding-bottom: 10px;

    h1 {
      font-size: 15px;
    }

    a {
      font-size: 24px;
    }
  }
}

.toggle {
  background-color: none;
  color: rgb(126, 119, 119);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.toggle:hover {
  background-color: rgba(206, 197, 197, 0.603);
}


div.transition-button-box {
  margin-top: 20px;
  background-color: rgba($color-primary, .5);
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  align-items: center;

  .btn-transition {
    margin: 0px 0px 0px 5px;
  }

  .transition-buttons {
    margin-left: auto;
  }
}

.o_horizontal_separator.dolphin_seperator {
  font-size: 12px;
  font-weight: bold;
  line-height: 100px;
  padding: 1.6rem 1rem .6rem;
}

.o_notebook.dolphin .o_horizontal_separator {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  padding-bottom: 12px;
  cursor: pointer;
}

.o_notebook.dolphin .o_horizontal_separator > div {
  background: none;
  border: 0;
  box-shadow: none;
}

.header {
  background: #eee;
  width: 100%;
  padding: 10px;
  height: 10%;
  box-sizing: border-box;
  display: table
}


.left_header {
  width: 50%;
  background: none;
  height: 100%;
  text-align: left;
  font-size: 19px;
  color: $color-primary;
  display: table-cell
}

.o_notebook.dolphin .o_horizontal_separator > div > i {
  color: #00A09D !important;
  font-size: 12px;
}

div.table-dolphin div.table-responsive table.o_list_table {
  font-size: 12px;
  line-height: 16px;

  th {
    font-size: 12px;
    padding: 1.6rem 1rem .6rem;

    &:not(:first-child) {
      font-weight: normal;
      font-style: italic;
    }
  }

  td {
    background: $bg-color !important;
    border: solid 1px #fff;
    padding: .9rem 1rem .9rem;
    vertical-align: baseline;

    &:first-child {
      font-weight: bold;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-left: 0;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-right: 0;
    }
  }
  td[title="Active"] {
    background: $color-green !important;
    text-transform: uppercase;
    color: white;
  }

  tbody tr:not(.o_data_row) {
    display: none;
    td:first-child:before {
      content: "none";
      font-weight: normal;
      font-style: italic;
    }
  }
  
  tbody tr:first-child {
    display: table-row;
    box-shadow: none;
  }
}

#form-wizard {
  position: absolute;
  left: 20%;
  width: 76%;
  margin: 0 2%;
  padding-bottom: 12px;
  display: flex;
  align-items: flex-end;
  height: 98px;
  z-index: 10;
  border-bottom: 1px solid rgba($color-text, .2);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .fa {
    font-size: 20px;
  }

  .btn-secondary {
    background: none;
    border: 0;
    box-shadow: none;
  }

  .tab-content-title {
    color: $color-text;
    font-size: 24px;
  }
}

/* @media (min-width: 1200px){
    .o_form_view .o_form_sheet_bg > .o_form_sheet {
        max-width: 1366px;
    }
} */


.o_notebook.dolphin {
  background: $color-eval-bg;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;

  > .o_notebook_headers {
    margin-left: 0 !important;
    width: 20%;
  }
}

.o_form_view .o_notebook.dolphin > .o_notebook_headers {
  .nav.nav-tabs {
    display: block;
    border: none;
    background-color: $color-tabs-bg;
    padding-left: 0;
    padding-top: 60px;
    margin: 0 !important;
      
    > .nav-item > .nav-link {
      color: $color-primary;
      border: none;
      padding: 10px 8px 8px 16px;
      border-bottom: 1px solid rgba($color-text, .2);
      min-height: 38px;
      font-weight: bold;
      background: $color-tabs-bg;
      
      &.active {
        color: $color-text;
        background-color: $color-text-light;
      }
    }
      
    li.nav-item {
      width: 100%;
      margin: 0;
    }
  }
}

.o_form_view .o_notebook.dolphin > .tab-content {
  width: 80%;
  border-left: none;
  min-height: 300px;
  margin-top: 110px;
  padding-left: 32px;
  padding-bottom: 32px;
    
  > .tab-pane {
    padding: 32px;
  }
}

.o_form_view .o_notebook.dolphin {
  .nav.nav-tabs > .nav-item > .nav-link.active {
    background-color: $color-eval-bg;
    border-bottom-color: $color-eval-bg;
  }
}

@media (max-width: 1533.98px) and (min-width: 992px) {
  .o_notebook.dolphin {
    margin: 0 -32px;
  }
  div.transition-button-box {
    margin: 0 -32px;

    .label {
      margin-left: 16px;
    }
  }
  .o_form_view .o_notebook.dolphin {
    .nav.nav-tabs > .nav-item > .nav-link {
      padding: 10px 8px 8px 32px;
    }
  }
}

@media (max-width: 767.98px) {
  div.transition-button-box {
    .transition-buttons {
      width: 100%;
      display: flex;
      margin-top: 10px;
    }

    .btn-transition {
      flex: 1;
    }
  }

  #form-wizard {
    width: 100%;
    margin: 0;
    left: 0;
    height: 60px;
    border-bottom: none;
  }
  .o_form_view .o_notebook.dolphin {
    padding: 0;
  }

  .o_form_view .o_notebook.dolphin {
    .nav.nav-tabs {
      position: relative;
      width: 100%;
    }
  }
  .o_form_view .o_notebook.dolphin {
    .tab-content {
      width: 100%;
      margin-top: 20px;
    }
  }
}

